@import url("fonts/font-awesome.css");
@import url("fonts/typeface.css");

/* styles */

@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}

@keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}


html {
	font-size: 18px;
}

body {
	min-width: 200px;
}

body, p {
	font-family: SourceSansPro, sans-serif;
}

h1, h2, h3, h4, h5, h6, .prog-meter {
	font-family: Lato, serif;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

h1, h2, h3 {
	border-bottom: 1px solid #ccc;
}

strong {
	font-weight: bold;
	font-size: 1.2rem;
}

ul li {
	list-style-type: none;
}

.obj-header {
	cursor: pointer;
}


.spinner {
	-webkit-animation: spin 1000ms infinite linear;
	        animation: spin 1000ms infinite linear;
}

.center-block, .top-level, .centered, .centered-left {
	margin-left: auto !important;
	margin-right: auto !important;
}

.top-level {
	max-width: 1152px;
	padding: 5px 20px;
}

.centered {
	text-align: center;
}

.centered-left {
	text-align: left;
}

.small-col {
	max-width: 500px;
}

.mid-grid {
	display: flex;
	flex-flow: row wrap;
	align-items: baseline;
	justify-content: space-around;
}

.mid-grid > .block-level {
	display: block;
	flex-grow: 1;
	width: 270px;
	margin: 0.5rem;
}

.full-row {
	width: 100% !important;
}

.full-row select, .full-row input {
	max-width: 200px;
	min-width: 45px;
}

.full-row ul {
	max-width: 300px;
}

.time-display {
	display: flex;
	align-items: baseline;
}

.time-display select {
	margin: 0 0.5rem;
}

.controls i {
	margin: 0 1em;
	cursor: pointer;
}

.controls .button {
	width: 100px;
	text-align: center;
}

.button {
	font-weight: bold;
	transition: all .1s ease-out;
}

.button, .obj-controls {
	-webkit-touch-action: manipulation;
	        touch-action: manipulation;
	   -moz-user-select: none;
	-webkit-user-select: none;
	        user-select: none;
}

.button, .button:focus {
	background: #0a0a0a;
}

.button:hover {
	background: #666;
}

.button.obj_action {
	padding-top: 3em;
	padding-bottom: 3em;
}

.prog-meter {
	display: block;
	font-size: 2rem;
	text-align: center;
	border: 1px solid #ccc;
	margin-bottom: 1em;
	position: relative;
}

.prog-meter.flash {
	background: #0a0a0a;
	color: #fefefe;
}

.prog-meter .prog-bar {
	position: absolute;
	z-index: -1;
	left: 50%;
	transform: translateX(-50%);
	height: 100%;
	width: 0%;
	background: #ccc;
}

.prog-meter .status {
	position: relative;
	z-index: 1;
}

@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}

@keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}
